body {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Plus Jakarta Sans', sans-serif;
    margin-top: 5%;
}

header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    font-weight: 800;
    font-size: 24px;
}

header button {
    background-color: #fff;
    border-radius: 8px;
    border-width: 0;
    color: #333333;
    font-size: 15px;
    font-weight: 500;
    padding: 10px 12px;
    text-align: center;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

section {
    display: block;
    width: 97%;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: hsl(211, 68%, 94%);
    padding: 10px;
    border-radius: 5px;
}

section.read {
    background-color: #fff;
}

main {
    width: 100%;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
}

p {
    margin-left: 30px;
}

p.message {
    margin-left: 15%;
    padding: 30px;
    border-radius: 10px;
    background-color: hsl(205, 33%, 90%);
}

img {
    margin-left: 20px;
    float: left;
    margin-right: 20px;
}